<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    </head>
    <body>
        Hello <%= ID %>
        <p>Query string: <%= Qstr %></p>
    </body>
</html>